<ion-header translucent>
  <ion-toolbar>
    <ion-title>Top 10 Scores</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="scores.length > 0; else noScores">
    <ion-item *ngFor="let entry of scores; let i = index">
      <ion-label class="score-label">
        <span [class.gold]="i === 0" class="rank">{{ i + 1 }}</span>
        <span class="score">{{ entry.score }}</span>
      </ion-label>
      <ion-note slot="end" class="datetime">
        {{ entry.date | date: 'short' }}
      </ion-note>
    </ion-item>
  </ion-list>

  <ng-template #noScores>
    <ion-text>No scores yet</ion-text>
  </ng-template>
</ion-content>
