<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tetris
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tetris</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="top-ui-bar">
    <div class="next-box">
      <canvas #nextCanvas width="80" height="80"></canvas>
    </div>

    <div class="score-box">
      <div class="label">Score</div>
      <div class="score">{{ score }}</div>
    </div>
    <div class="buttons-box">
      <ion-button size="small" [disabled]="!gameStarted" (click)="pauseOrResume()">
        {{ isPaused ? 'Resume' : 'Pause' }}
      </ion-button>
      <ion-button
        size="small"
        color="success"
        (click)="newGame()"
        [disabled]="gameStarted && !isPaused"
      >
        <ion-icon name="play-outline"></ion-icon>
        Start
      </ion-button>
    </div>
  </div>

  <div #gestureArea class="gesture-area">
    <canvas #gameCanvas id="gameCanvas"></canvas>
  </div>

  <!--
  <div class="retro-bar">
    <div class="retro-left">
      <div class="dpad-row">
        <ion-button (click)="moveLeft()" [disabled]="!gameStarted" class="retro-btn left">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="softDrop()"
                    (pointerdown)="onSoftDropPress()"
                    (pointerup)="onSoftDropRelease()"
                    (pointerleave)="onSoftDropRelease()"
                    [disabled]="!gameStarted" class="retro-btn down">
          <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="moveRight()" [disabled]="!gameStarted" class="retro-btn right">
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="retro-right">
      <ion-button (click)="rotate()" [disabled]="!gameStarted" class="retro-btn">
        <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  -->
</ion-content>
