<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tetris
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="pauseOrResume()" [disabled]="!gameStarted">
        @if (gameStarted && !isPaused) {
          <ion-icon slot="icon-only" name="pause-outline"></ion-icon>
        } @else {
          <ion-icon slot="icon-only" name="play-outline"></ion-icon>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false" [class]="(themeService.themeClass$ | async) + ' home-bg'">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tetris</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="goToSettings()">
          <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="top-ui-bar">
    <div class="next-box">
      <canvas #nextCanvas width="85" height="80"></canvas>
    </div>
    <div class="score-box">
      <div class="label">Score</div>
      <div id="scoreLabel" class="number" [class.score-bump]="scoreBump">{{ score }}</div>
    </div>
  </div>

  <div class="container-canvas">
    <div #gestureArea class="gesture-area">
      <div #gameContainer class="game-container">
        <canvas #gameCanvas id="gameCanvas"></canvas>
      </div>
    </div>
  </div>

  <div class="buttons-box">
    <ion-button size="small" (click)="newGame()" [disabled]="gameStarted && !isPaused">
      <ion-icon slot="start" name="play-outline"></ion-icon>
      Start a new Game
    </ion-button>
  </div>
</ion-content>
