<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#/home"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Theme -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Theme</ion-label>
      </ion-item-divider>
      <ion-list-header>
        <ion-label>Background</ion-label>
      </ion-list-header>

      <!-- Bind to current theme; update on change -->
      <ion-radio-group
        [value]="(themeService.themeId$ | async)"
        (ionChange)="onThemeChange($event)"
      >
        <ion-item *ngFor="let t of options"
                  [detail]="false"
                  (click)="selectTheme(t.id)">
          <ion-radio slot="start" [value]="t.id"></ion-radio>
          <ion-label>{{ t.name }}</ion-label>
          <div class="theme-swatch" slot="end" [style.background-image]="t.preview"></div>
        </ion-item>
      </ion-radio-group>
    </ion-item-group>

    <!-- Scores -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Scores</ion-label>
      </ion-item-divider>

      <ion-item (click)="openHighScores()">
        <ion-label>View High Scores</ion-label>
      </ion-item>

      <ion-item (click)="confirmClearScores()">
        <ion-label color="danger">Clear High Scores</ion-label>
      </ion-item>
    </ion-item-group>

    <!-- About -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label>About</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Version</ion-label>
        <ion-note slot="end">
          {{ appVersion }}
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Credits</h2>
          <p>
            Built with Ionic & Angular. Game concept inspired by classic falling-block puzzles.
          </p>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
